*.pdf
*.zip
/dataset

converter_*
rm_isolated_vertices
pagerank
ppr
genericwalk
baseline1
baseline2
opt
pagerank-asyn
pagerank-base
pagerank-fifo
pagerank-opt
disable-pagerank
disable-ppr
opt-pagerank
opt-ppr
zerocopy-pagerank
zerocopy-ppr
